<div class="containerDiv" fxFill fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center none"
    fxLayoutAlign.xs="center none" fxLayoutGap="20px" fxLayoutGap.xs="20px">
    <div class="mat-elevation-z8 bar">
        <input class="searchbar" type="text" title="Search" (keyup)="applyFilter($event)"
            placeholder="Hospital Name/Locality" #input>
        <mat-icon matSuffix class="searchIcon">search</mat-icon>
    </div>

    <div *ngIf="!DATA" fxLayoutAlign="center center">
        <mat-spinner style="margin-top: 10%;"></mat-spinner>
    </div>
    <div style="text-align: right;margin-right: 20px;position: fixed;top: 6.0rem;">
        <span>
            <span class="iconify" data-icon="el:warning-sign" data-inline="false"
                style="color: #ffb31a;margin-right: 2px;"></span>Click on rows to view more details
        </span>
    </div>
    <div class="table-container">
        <mat-card *ngIf="dataSource?.filteredData" class="table-card">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows id="matTable">

                    <!-- Sl No Column
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> SL.No. </th>
                        <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
                    </ng-container> -->

                    <!-- NAME Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> NAME </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- TOTAL BED CAPACITY Column -->
                    <ng-container matColumnDef="totalBedCapacity">
                        <th mat-header-cell *matHeaderCellDef> TOTAL BED CAPACITY </th>
                        <td mat-cell *matCellDef="let row"> {{row.usage.totalBedCapacity}}</td>
                    </ng-container>

                    <!-- VACANT BED COUNT Column -->
                    <ng-container matColumnDef="vacantBeds">
                        <th mat-header-cell *matHeaderCellDef> VACANT BED COUNT </th>
                        <td mat-cell *matCellDef="let row"> {{row.usage.vacantBeds}} </td>
                    </ng-container>

                    <!-- PHONE NUMBER Column -->
                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef> PHONE NUMBER </th>
                        <td mat-cell *matCellDef="let row"> {{row.contact.phone}} </td>
                    </ng-container>


                    <!-- Is Private Column -->
                    <ng-container matColumnDef="isPrivate">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <mat-chip style="width: 50px;" *ngIf="row.isPrivate===true">Private</mat-chip>
                            <mat-chip *ngIf="row.isPrivate===false">Government</mat-chip>
                        </td>
                    </ng-container>
                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <!-- <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="element-description">
                                    <p fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="20px">
                                        <mat-form-field appearance="standard" id="addressFormField">
                                            <mat-label>Address</mat-label>
                                            <textarea id="addressLine" matInput value="{{element.contact.addressLine}}"
                                                readonly="readonly"></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="standard" class="otherInformation">
                                            <mat-label>Additional Information</mat-label>
                                            <input matInput value="{{element.additionalInfo}}" readonly="readonly">
                                        </mat-form-field>
                                        <mat-form-field appearance="standard" class="otherInformation">
                                            <mat-label>Usage Percentage</mat-label>
                                            <input matInput value="{{element.usage.usagePercentage}}"
                                                readonly="readonly">
                                        </mat-form-field>
                                        <mat-form-field appearance="standard" class="otherInformation">
                                            <mat-label>Last Updated</mat-label>
                                            <input matInput value="{{element.usage.lastUpdated}}" readonly="readonly">
                                        </mat-form-field>
                                        <mat-form-field appearance="standard" class="otherInformation" *ngIf="screenSizeLarge == true">
                                            <mat-label>TEST</mat-label>
                                            <input matInput value="TEST" readonly="readonly">
                                        </mat-form-field>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </ng-container> -->

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="element-description">
                                    <p fxLayout="row" fxLayout.xs="row wrap" fxLayoutGap="20px">
                                        <mat-form-field appearance="fill" id="addressFormField">
                                            <mat-label>Address</mat-label>
                                            <textarea id="addressLine" matInput value="{{element.contact.addressLine}}"
                                            [readonly]="true"></textarea>
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="otherInformation" *ngIf="element.additionalInfo">
                                            <mat-label>Additional Information</mat-label>
                                            <input matInput value="{{element.additionalInfo}}" [readonly]="true">
                                        </mat-form-field>
                                        <!-- <mat-form-field appearance="fill" class="otherInformation">
                                            <mat-label>Usage Percentage</mat-label>
                                            <input matInput value="{{element.usage.usagePercentage}}"
                                            [readonly]="true" [disabled]="true">
                                        </mat-form-field> -->
                                        <mat-form-field appearance="fill" class="otherInformation">
                                            <mat-label>Last Updated</mat-label>
                                            <input matInput value="{{element.usage.lastUpdated}}"  [readonly]="true">
                                        </mat-form-field>
                                        <mat-form-field appearance="fill" class="otherInformation" *ngIf="screenSizeLarge == true">
                                            <mat-label>Private Hospital</mat-label>
                                            <input matInput *ngIf="element.isPrivate===true" value="Yes" readonly="readonly">
                                            <input matInput *ngIf="element.isPrivate===false" value="No" readonly="readonly">
                                        </mat-form-field>
                                    </p>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
                        [class.expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element"
                        [ngStyle]="{'background-color':element.usage.usagePercentage >= 90 ? '#ff9999' : '#bbff99' }">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                </table>
            </div>
            <div style="text-align: right;">
                <span>
                    <span class="iconify" data-icon="el:warning-sign" data-inline="false"
                        style="color: #ffb31a;margin-right: 2px;"></span>Values fetched from Wb Govt Health website
                </span>
            </div>
        </mat-card>
        
    </div>
    <div class="footer">
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100] " style="height: 50px;"></mat-paginator>
    </div>
</div>