table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    overflow: hidden;
    display: flex;
}

.element-description {
    padding: 16px;
}

.element-description-attribution {
    opacity: 0.5;
}

.mat-row:nth-child(2n+1) {
    background-color: #e4f0ec;
}

.mat-row:not(:nth-child(4n+1)) {
    background-color: #ffffff;
}

.mat-column-expandedDetail {
    background-color: #efefef;
}

.mat-header-row {
    background-color: dodgerblue;
}

.mat-header-cell {
    font-family: 'Bitter', serif;
    font-size: 20px !important;
    text-align: center;
}

.mat-cell {
    font-family: 'Gayathri', sans-serif;
    font-size: 20px;
    text-align: center;
}

mat-form-field {
    width: 100%;
}

.mat-form-field-label-wrapper {
    margin-left: 20px !important;
    font-size: 20px;
}


.bar{
    margin:0 auto;
    width:875px;
    border-radius:30px;
    border:8px solid #dcdcdc;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    width:800px;
    text-align: center;
    outline: none;
    border-radius: 30px;
    height: 40px;
    letter-spacing: 0.208em;
    font-size: 30px;
  }

  .searchIcon{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
  }

  .table-container {
    max-height: calc(100vh - 155px);
    overflow: auto;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: red;
        color: white;
        text-align: center;
      }

  @media screen and (max-width:600px){
    
    .bar{
        width:375px;
      }
    .searchbar{
        width:300px;
        letter-spacing: 0.208em;
        font-size: 20px;
      } 
    .mat-header-cell {
        font-family: 'Bitter', serif;
        font-size: 13px !important;
    }
    
    .mat-cell {
        font-family: 'Gayathri', sans-serif;
        font-size: 15px;
    }
         
  }

  @media screen and (min-width:600px) and (max-width:768px){
    
    .bar{
        width:575px;
      }
    .searchbar{
        width:500px;
        letter-spacing: 0.208em;
        font-size: 20px;
      } 
    .mat-header-cell {
        font-family: 'Bitter', serif;
        font-size: 13px !important;
    }
    
    .mat-cell {
        font-family: 'Gayathri', sans-serif;
        font-size: 15px;
    }
         
  }