<div class="containerDiv" fxFill fxLayout="column" fxLayout.xs="column" fxLayoutAlign="center none"
    fxLayoutAlign.xs="center none" fxLayoutGap="20px" fxLayoutGap.xs="20px">
    <div class="headingDiv">
        <h2>Hospital Usage Statistics of West Bengal</h2>
    </div>
    <div class="mat-elevation-z8 bar">
        <input class="searchbar" type="text" title="Search" (keyup)="applyFilter($event.target.value)"
            placeholder="Hospital Name/Locality" #input>
        <mat-icon matSuffix class="searchIcon">search</mat-icon>
    </div>

    <div *ngIf="!DATA" fxLayoutAlign="center center">
        <mat-spinner style="margin-top: 10%;"></mat-spinner>
    </div>
    <div style="text-align: right;margin-right: 20px;position: fixed;top: 9.0rem;">
        <span>
            <span class="iconify" data-icon="vaadin:exclamation" data-inline="false" data-width="20"
                data-height="20"></span>Click on rows to view more details
        </span>
    </div>
    <div class="table-container">
        <mat-card *ngIf="dataSource?.filteredData" class="table-card">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" multiTemplateDataRows id="matTable">

                    <!-- Sl No Column
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> SL.No. </th>
                        <td mat-cell *matCellDef="let element"> {{dataSource.filteredData.indexOf(element)+1}} </td>
                    </ng-container> -->

                    <!-- NAME Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> NAME </th>
                        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                    </ng-container>

                    <!-- TOTAL BED CAPACITY Column -->
                    <ng-container matColumnDef="totalBedCapacity">
                        <th mat-header-cell *matHeaderCellDef> TOTAL BED CAPACITY </th>
                        <td mat-cell *matCellDef="let row"> {{row.usage.totalBedCapacity}}</td>
                    </ng-container>

                    <!-- VACANT BED COUNT Column -->
                    <ng-container matColumnDef="vacantBeds">
                        <th mat-header-cell *matHeaderCellDef> VACANT BED COUNT </th>
                        <td mat-cell *matCellDef="let row"> {{row.usage.vacantBeds}} </td>
                    </ng-container>

                    <!-- PHONE NUMBER Column -->
                    <ng-container matColumnDef="phoneNumber">
                        <th mat-header-cell *matHeaderCellDef> PHONE NUMBER </th>
                        <td mat-cell *matCellDef="let row" id="phoneNumberRow"> {{row.contact.phone}} </td>
                    </ng-container>


                    <!-- Is Private Column -->
                    <ng-container matColumnDef="isPrivate">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <mat-chip style="width: 50px;" *ngIf="row.isPrivate===true">Private</mat-chip>
                            <mat-chip *ngIf="row.isPrivate===false">Govt</mat-chip>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                            <div class="element-detail"
                                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div class="element-description">
                                    <div fxLayout="row wrap" fxLayout.xs="row wrap" fxLayoutGap.xs="10px" fxLayoutGap="10px">
                                        <div fxLayout.xs="row" fxLayout="row" class="detailSubDiv">
                                            <span class="iconify" data-icon="bx:bx-map" data-inline="false"
                                                data-width="40" data-height="40"></span>
                                            <span id="addressLine">{{element.contact.addressLine}}</span>
                                        </div>
                                        <div *ngIf="element.additionalInfo" fxLayout.xs="row" fxLayout="row" class="detailSubDiv">
                                            <span class="iconify info_icon" data-icon="el:info-circle" data-inline="false"
                                                data-width="24" data-height="24"></span>
                                            <span class="otherInformation">{{element.additionalInfo}}</span>
                                        </div>
                                        <div fxLayout.xs="row" fxLayout="row" class="detailSubDiv">
                                            <span class="iconify info_icon" data-icon="bi:calendar-date" data-inline="false"
                                                data-width="24" data-height="24"></span>
                                            <span class="otherInformation">Updated On
                                                {{element.usage.lastUpdated}}</span>
                                        </div>
                                        <div *ngIf="screenSizeLarge == true" fxLayout.xs="row" fxLayout="row" class="detailSubDiv">
                                            <span class="iconify info_icon" data-icon="uil:hospital-symbol" data-inline="false"
                                                data-width="24" data-height="24"></span>
                                            <span *ngIf="element.isPrivate===true" class="otherInformation">Private</span>
                                            <span *ngIf="element.isPrivate===false" class="otherInformation">Govt.</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                    <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="element-row"
                        [class.expanded-row]="expandedElement === element"
                        (click)="expandedElement = expandedElement === element ? null : element"
                        [ngStyle]="{'background-color':element.usage.usagePercentage >= 90 ? '#ff9999' : '#ffffff' }">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                </table>
            </div>
            <div style="">
                <span style="margin-right :20px">
                    <span class="iconify" data-icon="maki:information-11" data-inline="false" data-width="20" data-height="20" style="margin-top: 5px;"></span>
                    Information as per wbhealth.gov.in
                </span>
                <span>
                    <span class="iconify" data-icon="ion:share-social-sharp" data-inline="false" data-width="20" data-height="20"></span>
                    A social IT initiative
                </span>
            </div>
        </mat-card>

    </div>
    <div class="footer">
        <mat-paginator [pageSizeOptions]="[10, 20, 50, 100] " style="height: 50px;"></mat-paginator>
    </div>
</div>